$icomoon-font-family: "feather-webfont" !default;
$icomoon-font-path: "../fonts/feather/" !default;

$fe-activity: "\e900";
$fe-airplay: "\e901";
$fe-alert-circle: "\e902";
$fe-alert-octagon: "\e903";
$fe-alert-triangle: "\e904";
$fe-align-center: "\e905";
$fe-align-justify: "\e906";
$fe-align-left: "\e907";
$fe-align-right: "\e908";
$fe-anchor: "\e909";
$fe-aperture: "\e90a";
$fe-archive: "\e90b";
$fe-arrow-down-circle: "\e90c";
$fe-arrow-down-left: "\e90d";
$fe-arrow-down-right: "\e90e";
$fe-arrow-down: "\e90f";
$fe-arrow-left-circle: "\e910";
$fe-arrow-left: "\e911";
$fe-arrow-right-circle: "\e912";
$fe-arrow-right: "\e913";
$fe-arrow-up-circle: "\e914";
$fe-arrow-up-left: "\e915";
$fe-arrow-up-right: "\e916";
$fe-arrow-up: "\e917";
$fe-at-sign: "\e918";
$fe-award: "\e919";
$fe-bar-chart-2: "\e91a";
$fe-bar-chart: "\e91b";
$fe-battery-charging: "\e91c";
$fe-battery: "\e91d";
$fe-bell-off: "\e91e";
$fe-bell: "\e91f";
$fe-bluetooth: "\e920";
$fe-bold: "\e921";
$fe-book-open: "\e922";
$fe-book: "\e923";
$fe-bookmark: "\e924";
$fe-box: "\e925";
$fe-briefcase: "\e926";
$fe-calendar: "\e927";
$fe-camera-off: "\e928";
$fe-camera: "\e929";
$fe-cast: "\e92a";
$fe-check-circle: "\e92b";
$fe-check-square: "\e92c";
$fe-check: "\e92e";
$fe-chevron-down: "\e92d";
$fe-chevron-left: "\e92f";
$fe-chevron-right: "\e930";
$fe-chevron-up: "\e931";
$fe-chevrons-down: "\e932";
$fe-chevrons-left: "\e933";
$fe-chevrons-right: "\e934";
$fe-chevrons-up: "\e935";
$fe-chrome: "\e936";
$fe-circle: "\e937";
$fe-clipboard: "\e938";
$fe-clock: "\e939";
$fe-cloud-drizzle: "\e93a";
$fe-cloud-lightning: "\e93b";
$fe-cloud-off: "\e93c";
$fe-cloud-rain: "\e93d";
$fe-cloud-snow: "\e93e";
$fe-cloud: "\e93f";
$fe-code: "\e940";
$fe-codepen: "\e941";
$fe-coffee: "\e942";
$fe-command: "\e943";
$fe-compass: "\e944";
$fe-copy: "\e945";
$fe-corner-down-left: "\e946";
$fe-corner-down-right: "\e947";
$fe-corner-left-down: "\e948";
$fe-corner-left-up: "\e949";
$fe-corner-right-down: "\e94a";
$fe-corner-right-up: "\e94b";
$fe-corner-up-left: "\e94c";
$fe-corner-up-right: "\e94d";
$fe-cpu: "\e94e";
$fe-credit-card: "\e94f";
$fe-crop: "\e950";
$fe-crosshair: "\e951";
$fe-database: "\e952";
$fe-delete: "\e953";
$fe-disc: "\e954";
$fe-dollar-sign: "\e955";
$fe-download-cloud: "\e956";
$fe-download: "\e957";
$fe-droplet: "\e958";
$fe-edit-2: "\e959";
$fe-edit-3: "\e95a";
$fe-edit: "\e95b";
$fe-external-link: "\e95c";
$fe-eye-off: "\e95d";
$fe-eye: "\e95e";
$fe-facebook: "\e95f";
$fe-fast-forward: "\e960";
$fe-feather: "\e961";
$fe-figma: "\e962";
$fe-file-minus: "\e963";
$fe-file-plus: "\e964";
$fe-file-text: "\e965";
$fe-file: "\e966";
$fe-film: "\e967";
$fe-filter: "\e968";
$fe-flag: "\e969";
$fe-folder-minus: "\e96a";
$fe-folder-plus: "\e96b";
$fe-folder: "\e96c";
$fe-frown: "\e96d";
$fe-gift: "\e96e";
$fe-git-branch: "\e96f";
$fe-git-commit: "\e970";
$fe-git-merge: "\e971";
$fe-git-pull-request: "\e972";
$fe-github: "\e973";
$fe-gitlab: "\e974";
$fe-globe: "\e975";
$fe-grid: "\e976";
$fe-hard-drive: "\e977";
$fe-hash: "\e978";
$fe-headphones: "\e979";
$fe-heart: "\e97a";
$fe-help-circle: "\e97b";
$fe-home: "\e97c";
$fe-image: "\e97d";
$fe-inbox: "\e97e";
$fe-info: "\e97f";
$fe-instagram: "\e980";
$fe-italic: "\e981";
$fe-key: "\e982";
$fe-layers: "\e983";
$fe-layout: "\e984";
$fe-life-buoy: "\e985";
$fe-link-2: "\e986";
$fe-link: "\e987";
$fe-linkedin: "\e988";
$fe-list: "\e989";
$fe-loader: "\e98a";
$fe-lock: "\e98b";
$fe-log-in: "\e98c";
$fe-log-out: "\e98d";
$fe-mail: "\e98e";
$fe-map-pin: "\e98f";
$fe-map: "\e990";
$fe-maximize-2: "\e991";
$fe-maximize: "\e992";
$fe-meh: "\e993";
$fe-menu: "\e994";
$fe-message-circle: "\e995";
$fe-message-square: "\e996";
$fe-mic-off: "\e997";
$fe-mic: "\e998";
$fe-minimize-2: "\e999";
$fe-minimize: "\e99a";
$fe-minus-circle: "\e99b";
$fe-minus-square: "\e99c";
$fe-minus: "\e99d";
$fe-monitor: "\e99e";
$fe-moon: "\e99f";
$fe-more-horizontal: "\e9a0";
$fe-more-vertical: "\e9a1";
$fe-mouse-pointer: "\e9a2";
$fe-move: "\e9a3";
$fe-music: "\e9a4";
$fe-navigation-2: "\e9a5";
$fe-navigation: "\e9a6";
$fe-octagon: "\e9a7";
$fe-package: "\e9a8";
$fe-paperclip: "\e9a9";
$fe-pause-circle: "\e9aa";
$fe-pause: "\e9ab";
$fe-pen-tool: "\e9ac";
$fe-percent: "\e9ad";
$fe-phone-call: "\e9ae";
$fe-phone-forwarded: "\e9af";
$fe-phone-incoming: "\e9b0";
$fe-phone-missed: "\e9b1";
$fe-phone-off: "\e9b2";
$fe-phone-outgoing: "\e9b3";
$fe-phone: "\e9b4";
$fe-pie-chart: "\e9b5";
$fe-play-circle: "\e9b6";
$fe-play: "\e9b7";
$fe-plus-circle: "\e9b8";
$fe-plus-square: "\e9b9";
$fe-plus: "\e9ba";
$fe-pocket: "\e9bb";
$fe-power: "\e9bc";
$fe-printer: "\e9bd";
$fe-radio: "\e9be";
$fe-refresh-ccw: "\e9bf";
$fe-refresh-cw: "\e9c0";
$fe-repeat: "\e9c1";
$fe-rewind: "\e9c2";
$fe-rotate-ccw: "\e9c3";
$fe-rotate-cw: "\e9c4";
$fe-rss: "\e9c5";
$fe-save: "\e9c6";
$fe-scissors: "\e9c7";
$fe-search: "\e9c8";
$fe-send: "\e9c9";
$fe-server: "\e9ca";
$fe-settings: "\e9cb";
$fe-share-2: "\e9cc";
$fe-share: "\e9cd";
$fe-shield-off: "\e9ce";
$fe-shield: "\e9cf";
$fe-shopping-bag: "\e9d0";
$fe-shopping-cart: "\e9d1";
$fe-shuffle: "\e9d2";
$fe-sidebar: "\e9d3";
$fe-skip-back: "\e9d4";
$fe-skip-forward: "\e9d5";
$fe-slack: "\e9d6";
$fe-slash: "\e9d7";
$fe-sliders: "\e9d8";
$fe-smartphone: "\e9d9";
$fe-smile: "\e9da";
$fe-speaker: "\e9db";
$fe-square: "\e9dc";
$fe-star: "\e9dd";
$fe-stop-circle: "\e9de";
$fe-sun: "\e9df";
$fe-sunrise: "\e9e0";
$fe-sunset: "\e9e1";
$fe-tablet: "\e9e2";
$fe-tag: "\e9e3";
$fe-target: "\e9e4";
$fe-terminal: "\e9e5";
$fe-thermometer: "\e9e6";
$fe-thumbs-down: "\e9e7";
$fe-thumbs-up: "\e9e8";
$fe-toggle-left: "\e9e9";
$fe-toggle-right: "\e9ea";
$fe-trash-2: "\e9eb";
$fe-trash: "\e9ec";
$fe-trello: "\e9ed";
$fe-trending-down: "\e9ee";
$fe-trending-up: "\e9ef";
$fe-triangle: "\e9f0";
$fe-truck: "\e9f1";
$fe-tv: "\e9f2";
$fe-twitter: "\e9f3";
$fe-type: "\e9f4";
$fe-umbrella: "\e9f5";
$fe-underline: "\e9f6";
$fe-unlock: "\e9f7";
$fe-upload-cloud: "\e9f8";
$fe-upload: "\e9f9";
$fe-user-check: "\e9fa";
$fe-user-minus: "\e9fb";
$fe-user-plus: "\e9fc";
$fe-user-x: "\e9fd";
$fe-user: "\e9fe";
$fe-users: "\e9ff";
$fe-video-off: "\ea00";
$fe-video: "\ea01";
$fe-voicemail: "\ea02";
$fe-volume-1: "\ea03";
$fe-volume-2: "\ea04";
$fe-volume-x: "\ea05";
$fe-volume: "\ea06";
$fe-watch: "\ea07";
$fe-wifi-off: "\ea08";
$fe-wifi: "\ea09";
$fe-wind: "\ea0a";
$fe-x-circle: "\ea0b";
$fe-x-octagon: "\ea0c";
$fe-x-square: "\ea0d";
$fe-x: "\ea0e";
$fe-youtube: "\ea0f";
$fe-zap-off: "\ea10";
$fe-zap: "\ea11";
$fe-zoom-in: "\ea12";
$fe-zoom-out: "\ea13";