@import "tabler/variables";
@import "~bootstrap/scss/bootstrap";
@import "tabler/dashboard";
@import "plugins";
@import "images";
@import "order";

.modal {
  .close {
    font-size: 0;
    color: #FFF;
    &:before {
      font-size: 1rem;
      color: #000;
    }
  }
}

.item-action {
  a:hover {
    text-decoration: none;
  }
}

.td-small {
  text-align: center;
  font-size: 87.5%;
  font-weight: 400;
  color: #9aa0ac;
}

.nav-link .badge {
  margin-left: .25rem;
}
.nav-link .badge, .nav-item .badge {
  position: static;
}

.container-fluid {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.card-body {
  .nav-tabs .nav-link {
    padding-top: 0;
  }
}

.modal {
  .card {
    margin-bottom: 0;
  }
}

.tag-upper {
  user-select: text !important;
  font-size: 0.9rem;
  text-transform: uppercase;
}